* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

.hidden-content {
  display: none;
}

body {
  margin: 10px;
  width: calc(100vw - 40px);
  font-family: "MedievalSharp";
  background-color: #121212;
}

body > div > a {
  color: darkgreen;
  text-decoration: none;
}

body > div > a:hover {
  color: green;
}

p {
  padding: 5px;
}

.red {
  color: red;
}

.redbold {
  color: red;
  font-weight: bold;
}

.purple {
  color: purple;
}

.blue {
  color: blue;
}

.bluebold {
  color: blue;
  font-weight: bold;
}

.green {
  color: green;
}

.greenbold {
  color: green;
  font-weight: bold;
}

.orange {
  color: orangered;
}

.grey {
  color: #777;
}

h1, h2, h3 {
  margin-bottom: 10px;
  text-align: center;
}

button, input, select {
  background: linear-gradient(to bottom right, #eee, #ccc);
  border: 1px solid #777;
  box-shadow: 1px 1px 1px #999;
  border-radius: 5px;
  padding: 5px;
}

button, select {
  cursor: pointer;
}

.indexbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "titleBanner titleBanner"
    "disclaimer disclaimer"
    "changeLog changeLog"
    "arcadeLink storyLink"
    "contact contact";
  gap: 20px;
}

.arcadebody {
  display: grid;
  grid-template-areas: 
    "titleBanner"
    "teamWindow"
    "exploreWindow";
  gap: 20px;
}

.introbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, select, button {
  font-family: "MedievalSharp";
}

body > div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px darkgray;
  background: linear-gradient(to bottom right, #faebd7, #c7b8a4);
}

#titleBanner {
  grid-area: titleBanner;
  text-align: center;
}

#titleBanner a {
  text-decoration: none;
  color: #006400;
}

#titleBanner a:hover {
  color: green;
}

#disclaimer {
  grid-area: disclaimer;
  text-align: center;
}

#changeLog {
  grid-area: changeLog;
  text-align: justify;
  overflow-y: auto;
  max-height: 40vh;
}

#changeLog ul {
  padding-left: 40px;
}

#arcadeLink {
  grid-area: arcadeLink;
  text-align: center;
}

#storyLink {
  grid-area: storyLink;
  text-align: center;
}

#arcadeLink p, #storyLink p {
  padding-bottom: 0;
}

#contact {
  grid-area: contact;
  text-align: center;
}

#introLore {
  grid-area: introLore;
  text-align: center;
}

#teamWindow {
  grid-area: teamWindow;
  position: relative;
}

#teamSelector {
  width: 100%;
}

#teamSelector > div {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

#teamWindow p {
  padding-left: 0;
  text-align: justify;
  margin-bottom: 5px;
}

.classDescription {
  line-height: 1.50;
}

#creerPerso {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.1rem;
}

#collapseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#teamSelector {
  transition: opacity 1.5s ease;
}

#teamSelector label {
  font-weight: bold;
}

#exploreWindow {
  grid-area: exploreWindow;
  opacity: 0;
  transition: opacity 3s ease;
}

.fight {
  background: linear-gradient(to bottom right, #fac9b5, #c79682);
}

#startBtn {
  margin: 0;
}

#msgLog {
  min-height: 180px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#magicShop, #sellShop {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 3px solid rgb(18, 18, 18);
}

#sellShop tr, #sellShop td, #sellShop th {
  padding: 0;
  border: none;
}

#magicShop tr, #magicShop td, #magicShop th {
  padding: 0;
  border: none;
}

#msgLog p {
  padding: 0;
}

#msgLog li {
  margin-left: 40px;
}

#msgLog button {
  display: block;
}

#fightLog {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  height: 50vh;
  overflow-y: hidden;
}

#fightLog p {
  padding: 0;
}

#fightLog button {
  padding: 7px;
}

#fightLog .selected {
  background: linear-gradient(to bottom right, #fdd, #dbb);
  border: 3px solid #966;
}

#fightInfo {
  font-weight: bold;
  margin-bottom: 5px;
}

#fightInfo td {
  width: 50%;
}

#mobInfo {
  text-align: left;
}

#summonInfo {
  text-align: left;
}

#fightLog button {
  margin-bottom: 3px;
}

#spawnMsg {
  padding: 0;
  display: inline-block;
}

.combatMsg {
  display: inline-block;
  padding-top: 10px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

#charSheet {
  opacity: 0;
  transition: opacity 1.5s ease;
}

#inventory {
  background: linear-gradient(to bottom, #ccc, #eee);
  font-size: 0.9rem;
}

#charSheet > tbody > tr:nth-child(n + 2):nth-child(-n + 6) {
  background: linear-gradient(to right, #f3e95c, #e7e5c8);
}


#charSheet > tbody > tr:nth-child(n + 7):nth-child(-n + 11) {
  background: linear-gradient(to right, #a8dae6, #d4f3f7);
}

#charSheet > tbody > tr:nth-child(n + 12):nth-child(-n + 16) {
  background: linear-gradient(to right, #f8b3e3, #fcd2f5);

}

.charStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.statRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  gap : 5px;
}

.statName {
  text-align: right;
  flex: 3;
  padding-top: 5px;
}

.statValue {
  text-align: left;
  flex: 1;
  padding-top: 5px;
}

.statBtn {
  text-align: center;
  flex: 2;
}

#lvlUpPoints0, #lvlUpPoints1, #lvlUpPoints2 {
  padding-top: 5px;
}

td, th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#HP0, #MP0, #HP1, #MP1, #HP2, #MP2, #nameClass0, #nameClass1, #nameClass2 {
  font-weight: bolder;
}

.lvlUp0, .lvlUp1, .lvlUp2 {
  visibility: hidden;
  font-weight: bold;
}

#lvlUpRow0, #lvlUpRow1, #lvlUpRow2 {
  display: none;
}

.tooltip {
  cursor: help;
}

@media (min-width: 1024px) {
  .arcadebody {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "titleBanner titleBanner"
      "teamWindow exploreWindow";
  }
}