* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

body {
  margin: 10px;
  font-family: "MedievalSharp";
  background-color: #121212;
}

body > div > a {
  color: darkgreen;
  text-decoration: none;
}

body > div > a:hover {
  color: green;
}

p {
  padding: 5px;
}

.red {
  color: red;
}

.purple {
  color: purple;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.orange {
  color: orangered;
}

abbr {
  text-decoration: none;
  cursor: help;
}

button, input, select {
  padding: 5px;
}

.indexbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "titleBanner titleBanner"
    "disclaimer disclaimer"
    "changeLog changeLog"
    "arcadeLink storyLink"
    "contact contact";
  gap: 20px;
}

.arcadebody {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-areas: 
    "titleBanner titleBanner"
    "teamWindow teamExplore";
  gap: 20px;
}

.introbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, select, button {
  font-family: "MedievalSharp";
}

body > div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px darkgray;
  background: linear-gradient(to bottom right, #faebd7, #c7b8a4);
}

#titleBanner {
  grid-area: titleBanner;
  text-align: center;
}

#titleBanner a {
  text-decoration: none;
  color: #006400;
}

#titleBanner a:hover {
  color: green;
}

#disclaimer {
  grid-area: disclaimer;
  text-align: center;
}

#changeLog {
  grid-area: changeLog;
  text-align: justify;
}

#changeLog ul {
  padding-left: 40px;
}

#arcadeLink {
  grid-area: arcadeLink;
  text-align: center;
}

#storyLink {
  grid-area: storyLink;
  text-align: center;
}

#arcadeLink p, #storyLink p {
  padding-bottom: 0;
}

#contact {
  grid-area: contact;
  text-align: center;
}

#introLore {
  grid-area: introLore;
  text-align: center;
}

#teamWindow {
  grid-area: teamWindow;
  min-width: 360px;
}

#nom {
  width: 100px;
}

#exploreWindow {
  grid-area: teamExplore;
  min-width: 400px;
}

h1, h2 {
  margin-bottom: 10px;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#fightConsole p {
  padding: 0;
}

#spawnMsg {
  padding: 0;
  display: inline-block;
}

.combatMsg {
  display: inline-block;
  padding-top: 10px;
}

@media (max-width: 786px) {
  .arcadebody {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "titleBanner"
      "teamWindow"
      "teamExplore";
  }
}